/* 
CSS Resets no longer needed here are sample ones to use:
https://andy-bell.co.uk/a-modern-css-reset/
https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* 
Fonts used:
font-family: 'Fira Sans', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Source Serif 4', serif;
*/

/* Import the reset.css file */
@import 'reset.css';

/* Light Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
*/


/* Variables for style */
:root {
  --heading-dark: #414746;
  --km-blue: #234A84;
  --text-blue: #032F69;
  --text-colour: #70827F;
  --text-highlight: #A0B8B4;
  --mid-background: #D3E1DF;
  --light-background: #F4F2F1;
  --nav-background: rgba(255, 255, 255, .8); /*  70% opaque white */
  --nav-background-mobile: rgba(255, 255, 255, 1);
  --header-height: 100px;
  --nav-height: 80px;
  --nav-mobile-height: 60px;
  --top-bot-padding: 100px;
  --top-bot-padding-mobile: 30px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Source Serif 4', serif;
  color: var(--text-colour);
}

.responsive-body {
  margin: 0 auto;
}


/* ============ NAV BAR  ========= */
/* Navbar reference video https://www.youtube.com/watch?v=bk3Y4heVdFs */
header {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: var(--nav-background);    /*  70% opaque white */
  /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);  /* horizontal offset, vertical offset, blur, color */
  width: 100%;
  position: fixed;
  z-index: 100;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "logo nav";
  justify-items: center;
  align-items: center;
  height: var(--nav-height);
}

header:hover {
  background-color: white;
}

header .nav-left {
  grid-area: logo;
  width: 100%;
  justify-self: start;
}

header .nav-list {
  grid-area: nav;
  width: 100%;
  justify-self: end;
  max-width: 1000px;
}


.nav-logo {
 font-family: 'Zen Maru Gothic', serif;
 width: 100%;
}

.nav-logo img {
  height: calc(var(--nav-height) - 20px);
  padding-left: 20px;
}

.nav-list ul {
  display: flex;
  justify-content: space-around;
}

header .nav-list ul li {
  position: relative;
  list-style-type: none; /* Remove bullets */
}

/* Style the links (optional) */
.nav-list ul li a {
  display: block;
  text-decoration: none;
  color: var(--heading-dark);
  height: var(--nav-height);
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-list ul li ul li {
  
  background-color: var(--nav-background);
}

.nav-list li a:hover {
  color: var(--text-highlight);
  background-color: var(--light-background);
}

.nav-list ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: var(--nav-background);
  display: none;
}

.nav-list ul li ul li {
  width: 100%;
}

.nav-list ul li:focus-within > ul,
.nav-list ul li:hover > ul {
  display: initial;
  transition: .5s;
}

.check-button {
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}
/* ============ NAV BAR END ========= */


/* ============ TEXT STYLING ========= */

footer {
  height: 4rem;
  background-color: var(--heading-dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', sans-serif;
  color: var(--heading-dark);
  font-weight: 300;
  text-transform: small-caps;
  margin-bottom: 2rem;
}

h1.title {
  font-weight: 300;
  font-size: 110px;
  line-height: 1em;
  margin-bottom: 1rem;
}

h1.subtitle {
  font-size: 24px;
  margin-bottom: 1rem;
}

/*
div.subtitle {
  display: flex; /* Use flexbox 
  align-items: center; /* Vertically center the items 
  margin-bottom: 2rem;
}
*/

h2 {
  font-size: 35px;
  margin-bottom: 1rem;
}

h3, h5 {
  font-size: 20px;
}

h6 {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 1rem;
}

main div {
  justify-items: center;
  align-items: center;
}

main p {
  font-size: 14px;
  line-height: 2em;
  margin-bottom: 2em;
}

main ul {
  padding-left: 20px;
}

/* ============ TEXT STYLING END ========= */


/* ============ DECORATIONS ========= */

button {
  width: 195px;
  height: 43px;
  background-color: var(--text-highlight);
  color: white;
  text-decoration: none;
  padding: 0;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--mid-background);
}

.rule-title, .rule-title-mobile, .rule-decoration {
  width: 60px;
  height: 3px;
  background-color: var(--text-colour);
}

.rule-title {
  margin-right: 20px; /* Add margin to the right */
  margin-bottom: 1.5rem;
}

.rule-title-mobile {
  display: none;
}

.rule-decoration {
  margin-bottom: 2.5rem;
}

/* ============ DECORATIONS END ========= */



/* ============ SECTIONS DEFINITIONS STYLING ========= */

/* Background Colours for Sections of choice */
.bg-light {
  background-color: var(--light-background);
}

.bg-mid {
  background-color: var(--mid-background);
}


/* Flex Column and grid row definitions */
.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px; /* Adjust the gap between columns */
  justify-items: center;
  align-items: center;
}

.content-right {
  grid-template-areas:
          "decoration content"; /* Default layout */
}

.content-right.more-text-space {
  grid-template-columns: 2fr 3fr;
}

.content-left {
  grid-template-areas:
          "content decoration"; /* Default layout */
}

.content-left.more-text-space {
  grid-template-columns: 3fr 2fr;
}

.service-section {
  background-color: var(--mid-background);
}

.contact-section {
  background-color: var(--light-background);
}


/* Images: default behaviour is to fill total height of the container by just applying the .decoration class
and will align center center, to change the behaviour add other classes */

.decoration {
  grid-area: decoration;
  width: 100%;
}

/* Image container behaviour */
.image-container, .hero-image-container {
  width: 100%; /* Full width of the parent container */
  overflow: hidden; /* Ensures the image does not exceed the container's boundaries */
  align-self: center; /* aligns the image center vertically in cell */
  height: 100%;
}

.hero-image-container {
  max-height: auto; /* Set your maximum height here */
}

.image-container img, .hero-image-container img {
  width: 100%; /* Makes the image fill the width of its container */
  object-fit: cover; /* Ensures the image covers the full container area */
  height: 100%; /* this needs to be 100% to use all image height then whether it fits vertically or width wise depend on the container settings for height */
}

.hero-image-container img {
  object-position: 50% 30%; /* Aligns the image from the top middle */
}

/* This class allows an image to fill the container only width wise as preference for the desktop version by changing height of the container and image to auto */
.width-image {
  height: auto;
}

.width-image img {
  height: auto;
}


/* Content behaviour */
.content {
  grid-area: content;
}

.text-content {
  max-width: 490px;
  /* margin:auto; interferes with the content aligning of cells in a grid */
  padding-bottom: 0px;
}

body.maintenance section article.text-content {
  max-width: 750px;
}

.top-grid-align {
  align-self: start;
  height: 100%;
}

.content,
.text-content {
  padding-top: var(--top-bot-padding);
  padding-bottom: var(--top-bot-padding);
}

/* Linked article removes the extra padding added to the text-content class  */
.linked-content {
  padding-top: 2em;
}

.no-pad-top,
.no-pad {
  padding-top: 0px;
}

.no-pad-bot,
.no-pad {
  padding-bottom:0px;
}

.pad-top {
  padding-top: var(--top-bot-padding);
}

.pad-bot {
  padding-top: var(--top-bot-padding);
}


/* Specific section styling has to come after base styling*/
.hero-section,
.hero-section .image-container,
.hero-section .image-container img {
  max-height: 900px;
}

.hero-section .text-content {
  align-self: center;
  padding-bottom: 0;
  padding-top: 0;
}


.hidden {
  display: none;
}

/* Service Sales Table Unique Styling */
.service-table {
  padding: 0;
}

.service-table h3,
.service-table p {
  margin-bottom: 1em;
}

.content.service-table {
  max-width: 600px;
  margin: auto;
  padding: var(--top-bot-padding) 20px;
}

.content-right.service-table {
  grid-template-columns: 1fr 3fr;
  margin: 20px 0;
}

.service-table img {
  border-radius: 10px;
}

.service-table > div.text-content {
  padding: 0;
  max-width: none;
  margin-left: 20px;
}

div.content.service-table > div:last-of-type {
  margin-bottom: 2em;
}
/* END Service Sales Table Unique Styling */

/* The ul list needs a bottom margin and a smaller inbetween margin */ 
main div > ul {
  margin-bottom: 2em;
}

main ul > li > ul {
  margin-bottom: 0.5em;
}


/* These max-width parameters edit the appearance of text and margins for content and the title */
@media (max-width: 1800px) {

}


/* ============ MAINTENANCE PAGE ONLY ========= */
body.maintenance section article h1 {
  color: var(--km-blue);
}
body.maintenance {
  display: flex;
  justify-content: center;
}

body.maintenance section {
  max-width: 700px;
}

body.maintenance section article {
  text-align: center;
  align-self: center;
}

body.maintenance section article h1 {
  font-family: 'Zen Maru Gothic', serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 40px;
}

body.maintenance section article p {
  margin-bottom: 0.5rem;
}

/* ============ SECTIONS DEFINITIONS STYLING END ========= */


/* ============ SCREEN SIZE STYLING ========= */

/* Smaller than below media the website becomes a stacked feed (rather than 2 columns)
and the navigation bar becomes fixed rather than transparent and overlayed */
@media (max-width: 1000px) {
  /*======= MAIN BODY ========== */
  html {
    display: grid;
    justify-content: center;
    background-color: var(--heading-dark);
  }

  body,
  header {
    width: 500px;
  }

  body.maintenance {
    width: 600px;
  }

  body.maintenance section article h1 {
    font-size: 60px;
    line-height: 30px;
  }

  /* ====== NAV  =======*/
  header {
    background-color: var(--nav-background-mobile);    /*  70% opaque white */
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "nav";
    justify-items: center;
    align-items: center;
    height: var(--nav-mobile-height);
  }



  header .nav-left {
    height: var(--nav-mobile-height);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }

  header .nav-left .check-button {
    align-self: center;
    justify-self: end;
  }

  .nav-logo img {
    height: calc(var(--nav-mobile-height) - 20px);
  }

  .check-button {
    display: initial;
    font-size: 20px;
    padding-right: 20px;
  }

  .nav-list {
    position: relative;
    width: 100%;
    background-color: var(--text-highlight);
    transition: .5s;
    right: 100%;
    opacity: 0;
  }

  .nav-list ul,
  .nav-list ul li ul {
    flex-direction: column;
    position: initial;
    /* Already in the 850px media bracket */
    /* position: fixed;
    width: 100%;
    height: var(--nav-mobile-height); */
  }

  .nav-list ul,
  .nav-list ul li,
  .nav-list ul li a,
  .nav-list ul li ul {
    width: 100%;
  }

  #check:checked ~ .nav-list {
    right: 0;
    opacity: 1;
  }


  /* ======= TEXT STYLING ========== */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
  }
  
  h1.title {
    font-size: 65px;
    line-height: 1em;
  }
  
  h1.subtitle {
    font-size: 20px;
  }
  
  /*
  div.subtitle {
    display: flex; /* Use flexbox 
    align-items: center; /* Vertically center the items 
    margin-bottom: 2rem;
  }
  */
  
  h2 {
    font-size: 30px;
  }
  
  h3,
  h5,
  h6 {
    font-size: 18px;
  }

  .rule-decoration {
    margin-bottom: 1.5rem;
  }
  

  /* ======= CONTENT ======== */
  article#home {
    padding-top: var(--nav-mobile-height);
  }

  /* Specific section styling has to come after base styling*/
  .hero-section,
  .hero-section .image-container {
    max-height: initial;
  }

  .hero-section .image-container img {
    max-height: 600px;
  }

  .text-content,
  .hero-section .text-content {
    padding-bottom: var(--top-bot-padding-mobile);
    padding-top: var(--top-bot-padding-mobile);
  }

  .hero-image-container img {
    object-position: 50% 60%; /* Aligns the image from the top middle */
  }

  /* This allows sections with text in the decoration section (which would go on top automatically and be followed by the text-content content section to have no padding bottom to flow better */
  .decoration.text-content {
    padding-bottom: 0;
  }

  .decoration.text-content + .content.text-content {
    padding-top: 0;
  }

  .grid-row,
  .content-right:not(.grid-row.service-table),
  .content-left.more-text-space,
  .content-right.more-text-space {
    grid-template-columns: 1fr;
  }

  .content-right:not(.service-table) {
    grid-template-areas:
            "decoration"
            "content"; /* Default layout */
  }

  .content-left {
    grid-template-areas:
            "decoration"
            "content"; /* Default layout */
  }

  .contact-section.content-right, .contact-section.content-left {
    grid-template-areas:
            "content"
            "decoration";
  }

  .text-content {
    max-width: 450px;
  }

  body.maintenance section article.text-content {
    max-width: 500px;
  }
  
  .image-container {
    max-height: 400px; /* Set your maximum height here */
  }

  .width-image {
    height: 100%;
  }
  
  .width-image img {
    height: 100%;
  }

  .content.service-table {
    padding: var(--top-bot-padding-mobile) 20px;
  }

  /* */
  #sarah .grid-row .linked-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  #sarah .grid-row .linked-content:last-of-type {
    padding-bottom: var(--top-bot-padding-mobile);
  }

  .no-pad-top,
  .no-pad {
    padding-top: 0px;
  }

  .no-pad-bot,
  .no-pad {
    padding-bottom:0px;
  }

  .pad-top {
    padding-top: var(--top-bot-padding-mobile);
  }

  .pad-bot,
  #about div.pad-bot {
    padding-bottom: var(--top-bot-padding-mobile);
  }
    /* transform: translateY(-20%); */
  
}

/* ============ SCREEN SIZING STYLES END ========= */


